doctype html
html
    head
        title= pageTitle
        meta(charset='UTF-8')
        block styles
            link(rel='stylesheet', type='text/css', href='./layout.css')  
    body
        header(class='header')
            img(src='', alt='logo' class="logo_header")


            nav(class='nav_bar')
            a(href='/' class="link")=  "Accueil"
                
        block content
      
        footer(class='footer')
            section(class="column_footer")
                p(class="p_footer") Suivez Moi
                img(src='https://www.griffith.edu.au/__data/assets/image/0026/259730/FB.png', alt='logo' class="icone")


            img(src='https://wpformation.com/wp-content/uploads/2013/06/Blog.png', alt='logo' class="logo_footer")

            section(class="column_footer")
                p(class="p_footer") 
              
                //- a refaire
            