doctype html
html
    head
        title= pageTitle
        meta(charset='UTF-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")

        block styles
            link(rel='stylesheet', type='text/css', href='./layout.css')  
            link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        header(class='header')
            img(src='virusgaminglogo.png', alt='logo' class="header__logo")

            nav(class='nav_bar')
                a(href='/', class=(accueil ? 'live' : ''))
                    i(class="fa fa-home") 
                    span Accueil
                a(href='/contact', class=(contact ? 'live' : ''))
                    i(class="fa fa-envelope") 
                    span Contactez-nous
                
        block content
      
        footer(class='footer')
            a(href='https://www.facebook.com/LesFromages/?locale=fr_FR', target='_blank')
                section
                    img(src='https://www.griffith.edu.au/__data/assets/image/0026/259730/FB.png', alt='logo' class="icone")


            img(src='virusgaminglogo.png', alt='logo' class="logo")

            section(class="column")
                p
              
                
            