.header {
    background-color: #8b6ad2;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-left: 60px;
    margin-right: 60px;

}

.logo_header{
    width: 60px;
    height: 60px;
    background-color: #D3EBF5;
}


.link{

    display: flex;
    gap : 40px;
    text-decoration: none;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px 5px;
    width: 20%;
    height: 50%;
    justify-content: center;

}


h1{
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D3EBF5;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.icone{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.p_footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
   text-decoration: underline;
}

.logo_footer{
    width: 80px;
    height: 80px;
}

.section_form{
    background: linear-gradient(to bottom, rgba(211, 235, 245, 0.8), rgba(204, 179, 236, 0.3));
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    
}

.formulaire{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    
    
}



.text{
    display :flex;
    flex-direction: row;
    width: 100%;
}

.textarea{
    height: 100px;

}

.button{
    width: 30%;
    background-color: #C5BAF0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 5px;
}

.error{
    color: red;
    font-weight: bold;
}
.success {
    color: rgb(4, 56, 4);
    font-weight: bold;
}

.image{
    width: 300px;
    height: auto;
    box-shadow: 2px 3px 5px #2f2f2f;
}