@charset "UTF-8";
body {
  background-color: hsl(0, 0%, 92%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

a {
  display: flex;
  text-decoration: none;
  color: black;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a:hover {
  background-color: hsl(265, 50%, 79%);
  box-shadow: 1px 2px 6px 0px hsl(265, 66%, 14%);
}
a i {
  font-size: 24px;
  margin-right: 5px;
}

.header {
  background-color: hsl(265, 100%, 66%);
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header__logo {
  width: 129px;
  height: 80px;
  position: relative;
  top: 21px;
}
.header .nav_bar {
  display: flex;
}
.header .nav_bar a {
  padding: 10px 20px;
}

main {
  flex: 1;
  background: linear-gradient(to bottom, hsla(265, 27%, 83%, 0.8), hsla(307, 36%, 39%, 0.7));
  padding: 5px 20px;
}
@media screen and (min-width: 600px) {
  main {
    width: 95vw;
  }
}
@media screen and (min-width: 768px) {
  main {
    margin: 5px auto;
    max-width: 900px;
  }
}
main h1 {
  text-align: center;
  margin-top: 0;
}
main p {
  text-align: justify;
}
main form {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  main form {
    max-width: 70%;
    margin: 0 auto;
  }
}
main form div {
  display: flex;
  flex-direction: column;
}
main form div input,
main form div textarea {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
main form div textarea {
  height: 100px;
}
main form button {
  font-weight: bold;
  width: 30%;
  background-color: hsl(265, 69%, 31%);
  font-size: 1.05em;
  color: white;
  margin: 5px auto;
  border: none;
  border-radius: 3px;
  padding: 16px 20px;
  cursor: pointer;
}
main form button:hover {
  box-shadow: 1px 2px 6px 0px hsl(265, 66%, 14%);
  background-color: hsl(265, 33%, 66%);
  color: hsl(265, 69%, 31%);
}

.footer {
  flex-shrink: 0; /* Empêche le pied de page de réduire sa taille */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsl(265, 100%, 66%);
  padding: 20px;
}
.footer .icone {
  width: 70px;
  height: auto;
}
.footer p {
  text-transform: uppercase;
  text-decoration: underline;
}
.footer .logo {
  width: 80px;
  height: 49.6124031008px;
}

.message__send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message__send img {
  width: 100px;
}
.message__send .success {
  font-size: 1.4em;
  color: hsl(0, 96%, 18%);
  text-shadow: 2px 2px 5px hsl(265, 40%, 48%);
}
.message__send a {
  background-color: hsl(307, 42.7%, 30.45%);
  color: white;
  border-radius: 5px;
  margin-top: 24px;
  padding: 10px 20px;
}
.message__send a:hover {
  background-color: hsl(307, 61%, 75%);
  color: hsl(307, 43%, 30%);
}

.error,
.alert {
  color: red;
  font-weight: bold;
}

.success {
  color: rgb(4, 56, 4);
  font-weight: bold;
}

/*# sourceMappingURL=layout.css.map */
